<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
  <% @favorite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="col-md-8 col-md-offset-2">
<div class="page-header">
  <h3>Edit: <%= @favorite.name %></h3>
</div></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <form action="/update_favorite/<%= @favorite.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for name -->

      <div class="form-group">


        <input type="hidden" id="blah" name="blah" placeholder="Name" class="form-control" value="<%= @favorite.name %>" disabled>

        <input type="hidden" id="name" name="name" placeholder="Name" class="form-control" value="<%= @favorite.name %>">

      </div>




      <!-- Label and input for description -->

      <div class="form-group">



        <input type="hidden" id="description" name="description" placeholder="Description" class="form-control" value="<%= @favorite.description %>" disabled>

        <input type="hidden" id="description" name="description" placeholder="Description" class="form-control" value="<%= @favorite.description %>">

      </div>



      <!-- Label and input for url -->

      <div class="form-group">



        <input type="hidden" id="url1" name="url1" placeholder="Url1" class="form-control" value="<%= @favorite.url %>" disabled>

        <input type="hidden" id="url" name="url" placeholder="Url" class="form-control" value="<%= @favorite.url %>">

      </div>

      <!-- Label and input for category_id -->

      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <input type="text" id="category1" name="category1" placeholder="Category1" class="form-control" value="<%= @favorite.category.name %>" disabled>

        <input type="hidden" id="category_id" name="category_id" placeholder="Category" class="form-control" value="<%= @favorite.category_id %>" >

      </div>

      <div class="form-group">
        <label for="category_id" class="control-label">
          Rating
        </label>

        <% if @favorite.ratings.find_by({:user_id => current_user.id }).present? %>
        <input type="text" id="number" name="number" placeholder="Rating" class="form-control" value="<%= @favorite.ratings.find_by({:user_id => current_user.id }).number %>">
        <% else %>
        <input type="text" id="number" name="number" placeholder="Not Rated Yet, Please Enter Rating" class="form-control">
        <% end %>

      </div>



      <div class="form-group">
      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>



      <button class="btn btn-warning">
        Update Favorite
      </button>
      or

      <a href="/favorites/<%= @favorite.id %>">Cancel</a>


    </form>

  </div>
</div>
