<div class="page-header">
  <h3>Favorite #<%= @favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Name</dt>
      <dd><%= @favorite.name %></dd>


      <dt>Description</dt>
      <dd><%= @favorite.description %></dd>


      <dt>Url</dt>
      <dd><a href="<%= @favorite.url %>"><%= @favorite.url %></a></dd>


      <dt>Rating</dt>
      <% userid=[] %>
      <% @favorite.fans.each do |user1| %>
        <% userid.push(user1.id) %>
      <% end %>

      <% if userid.any? {|a| a==current_user.id} %>

        <dd> <%= @favorite.ratings.find_by({:user_id => current_user.id }).number   %> </dd>

      <% else %>

        <dd>     Not Rated </dd>

      <% end %>


     <dt> Peer Rating </dt>
     <% peerrating=[] %>
      <% @favorite.ratings.each do |rating1| %>
        <% if rating1.user_id == current_user.id %>
        <% else %>
        <% peerrating.push(rating1.number) %>
        <% end %>
      <% end %>

      <% if peerrating.present? %>
      <dd> <%= peerrating.sum/peerrating.length %> </dd>
      <% else %>
      <dd> Not Rated </dd>
      <% end %>


      <dt>Category</dt>
      <dd><%= @favorite.category.name %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/favorites" class="btn btn-primary">
        Back
      </a>
      <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>




    </div>
  </div>
</div>
